.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
}

.App-link {
  color: #09d3ac;
}

#star-wars-logo {
  width: 60%;
  max-width: 600px;
}

p {
  font-size: inherit;
  margin-top: 1em;
  font-size: 0.7em;
  margin-bottom: 1em;
}

input {
  font-size: 0.7em;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

.jedi-mode {
  cursor: url('https://www.cursor.cc/cursor/219/79/cursor.png'), auto
}

.jedi-mode-button {
  display: block;
  position: absolute;
  top: 2%;
  right: 2%;
}

@media only screen and (max-width: 815px) {
  .jedi-mode-button {
    display: none
  }
}

